#testimonials .container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto 600px;
}

#testimonials .testimonials {
  height: 100%;
}

#testimonials .testimonial__card {
  height: inherit;
  background: var(--bg-secondary);
  padding: 30px;
  border-radius: var(--radius-3);
}

#testimonials .testimonial__card .top {
  gap: 10px;
}

#testimonials .testimonial__card .star__container {
  color: var(--primary);
  align-items: center;
  gap: 5px;
}

#testimonials .testimonial__card .bottom {
  margin-top: 20px;
}

/* Media Queries */

@media (max-width: 930px) {
  #testimonials .container {
    grid-template-columns: 100%;
  }
}
